<div class='w-1/3'>
  <div class='flex justify-center font-mono text-center'>
    Educhain Stages:
  </div>
  <div class="grid grid-cols-2 gap-10">
    <div class='p-6'>
      <%= link_to "Examples_from_stage1", examples_path, class:"p-2 bg-emerald-300 hover:bg-mint-500 focus:bg-mint-500 rounded-lg"%>
    </div>
    <div class='p-6'>
      <%= link_to "Stage1", new_user_path, class:"p-2 bg-mint-500 hover:bg-emerald-300 focus:bg-emerald-300 rounded-md"%>
    </div>
  </div>
</div>