<!-- w-full  -->
<div class='max-w-full mx-auto'>
  <div class='flex justify-center font-mono text-center'>
    Educhain Stages:
  </div>
  <div class="mt-2 grid grid-cols-2 gap-5">
    <%= link_to "Stage_1 Examples", examples_path, class:"text-center bg-emerald-300 hover:bg-mint-500 focus:bg-mint-500 px-4 py-2 rounded-md"%>
    <%= link_to "Stage_1", new_user_path, class:"text-center bg-emerald-300 hover:bg-mint-500 focus:bg-mint-500 px-4 py-2 rounded-md"%>
  </div>
</div>