<%= render ListComponent.new do |c| %>
  <% c.with_header do %>
    <div class="bg-lime-700 rounded-md p-6">
      <%= link_to "List of Available Courses", root_path, class: "text-bold text-white text-2xl rounded-xl" %>
    </div>
    <!--   
      <% Course.all.each do |course|%>
        <div class="container p-2 m-2 bg-lime-400 rounded-xl ">
          <%= link_to course.title, "#", class: "text-xl text-lime-700" %>
        </div>
      <% end %> %>
    -->
    <% course_titles = Course.all.pluck(:title).map { |title| {title: title}} %>
    
    <% course_titles.each do | title | %>
      <div class='container p-2 m-2 bg-lime-400 rounded-xl text-xl text-lime-700'>
        <%= title.values.join %>
      </div>
    <% end %>
  <% end %>
<% end %>
